:root {
  --tipo-1-36px-font-family: "League Spartan", Helvetica;
  --tipo-1-36px-font-weight: 300;
  --tipo-1-36px-font-size: 36px;
  --tipo-1-36px-letter-spacing: 0px;
  --tipo-1-36px-line-height: normal;
  --tipo-1-36px-font-style: normal;
  --tipo-1-48px-font-family: "League Spartan", Helvetica;
  --tipo-1-48px-font-weight: 400;
  --tipo-1-48px-font-size: 48px;
  --tipo-1-48px-letter-spacing: 0px;
  --tipo-1-48px-line-height: normal;
  --tipo-1-48px-font-style: normal;
  --tipo-1-80px-font-family: "League Spartan", Helvetica;
  --tipo-1-80px-font-weight: 400;
  --tipo-1-80px-font-size: 80px;
  --tipo-1-80px-letter-spacing: 0px;
  --tipo-1-80px-line-height: normal;
  --tipo-1-80px-font-style: normal;
  --tipo-2-36px-font-family: "Urbanist", Helvetica;
  --tipo-2-36px-font-weight: 400;
  --tipo-2-36px-font-size: 36px;
  --tipo-2-36px-letter-spacing: 0px;
  --tipo-2-36px-line-height: normal;
  --tipo-2-36px-font-style: normal;
  --tipo-2-48px-font-family: "Urbanist", Helvetica;
  --tipo-2-48px-font-weight: 400;
  --tipo-2-48px-font-size: 48px;
  --tipo-2-48px-letter-spacing: 0px;
  --tipo-2-48px-line-height: normal;
  --tipo-2-48px-font-style: normal;
  --tipo-2-80px-font-family: "Urbanist", Helvetica;
  --tipo-2-80px-font-weight: 400;
  --tipo-2-80px-font-size: 80px;
  --tipo-2-80px-letter-spacing: 0px;
  --tipo-2-80px-line-height: normal;
  --tipo-2-80px-font-style: normal;
  --light-tipo-1-36px-font-family: "League Spartan", Helvetica;
  --light-tipo-1-36px-font-weight: 200;
  --light-tipo-1-36px-font-size: 36px;
  --light-tipo-1-36px-letter-spacing: 0px;
  --light-tipo-1-36px-line-height: normal;
  --light-tipo-1-36px-font-style: normal;
  --light-tipo-1-48px-font-family: "League Spartan", Helvetica;
  --light-tipo-1-48px-font-weight: 200;
  --light-tipo-1-48px-font-size: 48px;
  --light-tipo-1-48px-letter-spacing: 0px;
  --light-tipo-1-48px-line-height: normal;
  --light-tipo-1-48px-font-style: normal;
  --light-tipo-1-80px-font-family: "Inter", Helvetica;
  --light-tipo-1-80px-font-weight: 200;
  --light-tipo-1-80px-font-size: 80px;
  --light-tipo-1-80px-letter-spacing: 0px;
  --light-tipo-1-80px-line-height: normal;
  --light-tipo-1-80px-font-style: normal;
  --light-tipo-2-36px-font-family: "Urbanist", Helvetica;
  --light-tipo-2-36px-font-weight: 200;
  --light-tipo-2-36px-font-size: 36px;
  --light-tipo-2-36px-letter-spacing: 0px;
  --light-tipo-2-36px-line-height: normal;
  --light-tipo-2-36px-font-style: normal;
  --light-tipo-2-48px-font-family: "Urbanist", Helvetica;
  --light-tipo-2-48px-font-weight: 200;
  --light-tipo-2-48px-font-size: 48px;
  --light-tipo-2-48px-letter-spacing: 0px;
  --light-tipo-2-48px-line-height: normal;
  --light-tipo-2-48px-font-style: normal;
  --light-tipo-2-80px-font-family: "Urbanist", Helvetica;
  --light-tipo-2-80px-font-weight: 200;
  --light-tipo-2-80px-font-size: 80px;
  --light-tipo-2-80px-letter-spacing: 0px;
  --light-tipo-2-80px-line-height: normal;
  --light-tipo-2-80px-font-style: normal;
  --bold-tipo-1-36px-font-family: "League Spartan", Helvetica;
  --bold-tipo-1-36px-font-weight: 600;
  --bold-tipo-1-36px-font-size: 36px;
  --bold-tipo-1-36px-letter-spacing: 0px;
  --bold-tipo-1-36px-line-height: normal;
  --bold-tipo-1-36px-font-style: normal;
  --bold-tipo-1-48px-font-family: "League Spartan", Helvetica;
  --bold-tipo-1-48px-font-weight: 600;
  --bold-tipo-1-48px-font-size: 48px;
  --bold-tipo-1-48px-letter-spacing: 0px;
  --bold-tipo-1-48px-line-height: normal;
  --bold-tipo-1-48px-font-style: normal;
  --bold-tipo-1-80px-font-family: "League Spartan", Helvetica;
  --bold-tipo-1-80px-font-weight: 600;
  --bold-tipo-1-80px-font-size: 80px;
  --bold-tipo-1-80px-letter-spacing: 0px;
  --bold-tipo-1-80px-line-height: normal;
  --bold-tipo-1-80px-font-style: normal;
  --bold-tipo-2-36px-font-family: "Urbanist", Helvetica;
  --bold-tipo-2-36px-font-weight: 700;
  --bold-tipo-2-36px-font-size: 36px;
  --bold-tipo-2-36px-letter-spacing: 0px;
  --bold-tipo-2-36px-line-height: normal;
  --bold-tipo-2-36px-font-style: normal;
  --bold-tipo-2-48px-font-family: "Urbanist", Helvetica;
  --bold-tipo-2-48px-font-weight: 700;
  --bold-tipo-2-48px-font-size: 48px;
  --bold-tipo-2-48px-letter-spacing: 0px;
  --bold-tipo-2-48px-line-height: normal;
  --bold-tipo-2-48px-font-style: normal;
  --bold-tipo-2-80px-font-family: "Urbanist", Helvetica;
  --bold-tipo-2-80px-font-weight: 700;
  --bold-tipo-2-80px-font-size: 80px;
  --bold-tipo-2-80px-letter-spacing: 0px;
  --bold-tipo-2-80px-line-height: normal;
  --bold-tipo-2-80px-font-style: normal;
  --tipo-1-16px-font-family: "League Spartan", Helvetica;
  --tipo-1-16px-font-weight: 400;
  --tipo-1-16px-font-size: 16px;
  --tipo-1-16px-letter-spacing: 0px;
  --tipo-1-16px-line-height: normal;
  --tipo-1-16px-font-style: normal;
  --bold-tipo-1-16px-font-family: "League Spartan", Helvetica;
  --bold-tipo-1-16px-font-weight: 600;
  --bold-tipo-1-16px-font-size: 16px;
  --bold-tipo-1-16px-letter-spacing: 0px;
  --bold-tipo-1-16px-line-height: normal;
  --bold-tipo-1-16px-font-style: normal;
  --tipo-2-16px-font-family: "Urbanist", Helvetica;
  --tipo-2-16px-font-weight: 400;
  --tipo-2-16px-font-size: 16px;
  --tipo-2-16px-letter-spacing: 2.72px;
  --tipo-2-16px-line-height: normal;
  --tipo-2-16px-font-style: normal;
  --bold-tipo-2-16px-font-family: "Urbanist", Helvetica;
  --bold-tipo-2-16px-font-weight: 700;
  --bold-tipo-2-16px-font-size: 16px;
  --bold-tipo-2-16px-letter-spacing: 0px;
  --bold-tipo-2-16px-line-height: normal;
  --bold-tipo-2-16px-font-style: normal;
  --light-tipo-2-16px-font-family: "Urbanist", Helvetica;
  --light-tipo-2-16px-font-weight: 200;
  --light-tipo-2-16px-font-size: 16px;
  --light-tipo-2-16px-letter-spacing: 0px;
  --light-tipo-2-16px-line-height: normal;
  --light-tipo-2-16px-font-style: normal;
  --urbanist-bold-font-family: "Urbanist", Helvetica;
  --urbanist-bold-font-weight: 700;
  --urbanist-bold-font-size: 16px;
  --urbanist-bold-letter-spacing: 0px;
  --urbanist-bold-line-height: normal;
  --urbanist-bold-font-style: normal;
  --ubanist-subrayado-font-family: "Urbanist", Helvetica;
  --ubanist-subrayado-font-weight: 700;
  --ubanist-subrayado-font-size: 16px;
  --ubanist-subrayado-letter-spacing: 0px;
  --ubanist-subrayado-line-height: normal;
  --ubanist-subrayado-font-style: normal;
  --tipo-1-24px-font-family: "League Spartan", Helvetica;
  --tipo-1-24px-font-weight: 400;
  --tipo-1-24px-font-size: 24px;
  --tipo-1-24px-letter-spacing: 0px;
  --tipo-1-24px-line-height: normal;
  --tipo-1-24px-font-style: normal;
}
